extends ../base

block content
    div 
        p=room.description
        small=room.createdAt
    a(href=`${room.id}/edit`) Edit Room &rarr;
    br
    a(href=`${room.id}/delete`) Delete Room &rarr;
    

