extends ../base
include ../mixins/room

block content
    div.room-flex
        each room in rooms
            +room(room)
        else
            span.empty__message No videos found 
                i.fas.fa-ban
