extends ../base
include ../mixins/room

block content
    form(method="GET").search__form
        input(name="keyword", placeholder="Search by title", type="text")
        button
            i.fas.fa-search

    div.video-grid
        each room in rooms
            +room(room)
        else
            span.empty__message No videos found