mixin room(room)
    div.room-card
        a(href=`/rooms/${room.id}`)
            img.room-mixin__thumb(src="/" + room.fileUrl)
            div.room-mixin__data
                div.room-mixin__title
                    span.room-mixin__title__span #{room.title}, #{room.city}