form {
  label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
  }
  input.editUser_input {
    margin-top: 24px;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
