header
    a(href="/").header__logo
        i.fa-solid.fa-house
    nav
        ul 
            li 
                a(href="/search") 
                    i.fas.fa-search
            if loggedIn
                li 
                    a(href="/rooms/upload") Upload Room
                li 
                    a(href=`/users/${loggedInUser._id}`) My Room List
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log Out
            else
                li 
                    a(href="/login") Log In
                li 
                    a(href="/signup") Sign Up
