div.social-login
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |  Continue with Github 
        i.fas.fa-arrow-right
div.social__or
    div.social__or_div
    span.social__or_span or
    div.social__or_div