extends ../base

block content
  form(method="POST")
    input(name="password", placeholder="Password", type="password", required)
    input(name="password2", placeholder="Confrim Password", type="password", required)
    input(type="submit", placeholder="submit", value="Change Password")