extends ../base

block content
  if errorMessage 
    p=errorMessage
  form(method="POST")
    input(name="oldPassword", placeholder="Old Password", type="password", required)
    input(name="newPassword", placeholder="New Password", type="password", required)
    input(name="newPassword2", placeholder="New Confrim Password", type="password", required)
    input(type="submit", placeholder="submit", value="Change Password")