extends ../base

block content
  if messages.update
    +message("success", messages.update)
  form(method="POST", enctype="multipart/form-data").edit-profile__form
    label(for="avatar") Avatar 
    input(type="file", name="avatar", id="avatar", accept=".png, .jpg, .jepg")
    label(for="email") Email 
    input(name="email", value=loggedInUser.email, placeholder="Email", type="email", required)
    label(for="username") Username 
    input(name="username", value=loggedInUser.username, placeholder="Username", type="text", required)
    label(for="location") Location 
    input(name="location", value=loggedInUser.location, placeholder="Location", type="text", required)
    input.editUser_input(type="submit", placeholder="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      div.edit-profile__password
        a(href="change-password") Change password 
          i.fas.fa-arrow-right