extends ../base
include ../mixins/room

block content
    div.profile__data
        img(src="/" + user.avatarUrl).avatar
        h3=user.username
    div.room-flex
        each room in user.rooms
            +room(room)
        else
            span.empty__message Not videos found 
                i.fas.fa-ban